.see-students {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  table {
    border-collapse: collapse;

    td,
    th {
      border: 1px solid #333;
      padding: 1.5rem;
      font-size: clamp(1.2rem, 1vw, 2rem);
      text-align: left;
    }
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;

    color: #333;

    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
